/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-copesa-blocks-svg-infography {
  .svg{
    width: 100%;
  }
  .svgimage{
    .image-button{
      display: block;
      width: 100%;
    }
  }
}